body, html {
	width: 100%;
	height: 100%;
	position: relative;
}

body {
	background-color: #5FCF80;
}

a {
	color: #fff;
	font-size: 1.5em;
	text-decoration: none;
}

table a {
	font-size: 1em;
}

a:hover {
	color: gray;
}

nav a {
	color: #8C989E;
	font-size: 1em;
	text-decoration: none;
	float: right;
	margin-left: 2em;
}

nav a:hover {
	color: #657278;
	border-bottom: 1px solid #5FCF80;
}

#header {
	width: 100%;
	height: 100%;
	display: table;
	color: #fff;
	position: absolute;
 	left: 0;
  	top: 0;
  	z-index: 9999;

}

#header-image {
  position: relative;
  z-index: -1;

  display: block;
  background: url('../img/header-image2.png') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;

  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

#navigation {
	width: 100%;
	min-height: 2.2em;
	line-height: 2em;
	z-index: 999999;
	position: fixed;
	top: 0;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background-color: #FFFFFF;
	vertical-align: middle;
}

#footer {
	display: block;
	width: 100%;
	min-height: 2em;
	line-height: 2em;
	background-color: #FFFFFF;
	vertical-align: middle;
	position: absolute;
	bottom: 0;
	text-align: center;
}

.wrapper {
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
}

#content-wrapper {
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
}

#content-wrapper a {
	color: black;
}

.box {
	float: left;
	margin-left:10%;
	margin-top: 10px;
	text-align: center;
}

#content-wrapper .button {
	border: 2px solid black;
}
.content {
	width: 100%;
	height: 100%;
	display: table;
	color: #fff;
	position: absolute;
 	left: 0;
  	top: 0;
  	z-index: 9999;
}
.text-vertical-center {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	}

.button {
	border: 2px solid white;
	padding: 5px;
}

.no-border {
	border: none;
}



.panel {
	padding: 1em;
	background-color: rgba(0, 0, 0, .8);
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

input[type=submit] , input[type=button] {
	padding:5px 15px;
	border:0 none;
	cursor:pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: black;
}

input[type=text] {
	color: black;
}

.circle {
	color: #FFF;
	background-color: #FFF;
	border-radius: 50%;
	width: 200px;
	height: 200px; 
	overflow: hidden;
	position: relative;
	/* width and height can be anything, as long as they're equal */
}

.circle img {
	max-width: 100%;
	max-width: 100%;
}

#circles-wrapper {
	margin-top: 25%;
}

.form-table {
	width:100%;
}
.form-table td {
	padding: 5px;
}

td, th {
	padding: 5px;
}

.red {
	background-color: #E2062C;
	float: right;
}